# ignore all but .emacs
*~
\#*
3D Objects
.anaconda
Anwendungsdaten
AppData
Apple
.asc
.authinfo.gpg~
.authinfo.gpg
.authinfo.mail.de.gpg
auto-save-list
.bash_aliases
.bash_history
bin
.cache
.conda
.condarc
Contacts
.continuum
Cookies
csv-mode.el
.defi
defiwallet.dat
Desktop
Documents
Downloads
Druckumgebung
Eigene\\ Dateien
*~
\#*
.emacs.d
Favorites
.gitconfig
.gnupg
.gnus.el
hwid
iCloudDrive
Intel
IntelGraphicsProfiles
.ipython
.jupyter
kraken.pub
.lesshst
Links
Lokale\\ Einstellungen
Mail
.matplotlib
.minttyrc
Music
Netzwerkumgebung
News
.newsrc-dribble~
.newsrc.eld
NTUSER.DAT
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
OneDrive
.openjfx
Pictures
.profile~
.profile
projects
Recent
Saved Games
Searches
SendTo
server
.ssh
Startmenü
Sti_Trace.log
tastytrade_transactions_x9186_2023-06-09_2023-06-10.csv
Videos
.viminfo
Vorlagen
.vscode
